@use '../../utils' as *;

/*----------------------------------------*/
/*  7.13 Case css
/*----------------------------------------*/

.casebox__wrap{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: .3s;
    &-thumb{
        height: 330px;
        border-radius: 16px;
        transition: .3s;
        object-fit: cover;
        & img{
            height: 330px;
            object-fit: cover;
            border-radius: 8px;
            transition: .3s;
        }
    }
    &-content{
        position: absolute;
        content: "";
        left:-55px;
        top: 0;
        background: #0A2351;
        opacity: .8;
        height: 100%;
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
        & .icon{
            padding-bottom: 20px;
            & span{
                height: 54px;
                width: 54px;
                line-height: 54px;
                border-radius: 50px;
                text-align: center;
                display: inline-block;
                background: var(--vkl-text-primary-color-5);
                transition: .3s;
                color: var(--vkl-text-heading-color-5);
                transform: rotate(-45deg);
                border: 1px solid var(--vkl-text-primary-color-5);
                &:hover{
                    background: transparent;
                    transition: .3s;
                    color: var(--vkl-text-primary-color-5);
                }
            }
        }
        & .para{
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s18);
            font-weight: var(--vkl-weight-semibold);
            line-height: var(--vkl-specing-height18);
            transition: .3s;
            padding-bottom: 16px;
        }
        & .title{
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s24);
            font-weight: var(--vkl-weight-regular);
            line-height: var(--vkl-specing-height24);
            transition: .3s;
            &:hover{
                color: var(--vkl-text-primary-color-5);
                transition: .3s;
            }
        }
    }
    &:hover{
        & .casebox__wrap{
            &-thumb{
                & img{
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
            &-content{
                left: 0;
                width: 100%;
                transition: .3s;
            }
        }
    }
}

// navigation style for portfolio slider

.vl-swiper-navigation5{
    @media #{$lg,$md,$xs}{
        text-align: center;
        margin-top: 30px;
    }
    & .case-button-5{
        height: 56px;
        width: 56px;
        background: rgba(255, 255, 255, 0.10);
        color: var(--vkl-text-text-white);
        line-height: 56px;
        border-radius: 50px;
        transition: 0.3s;
        text-align: center;
        display: inline-block;
        position: absolute;
        right: 0;
        top: -120px;
        @media #{$lg,$md,$xs}{
            position: relative;
            top:0;
        }
        &:hover{
            background: var(--vkl-text-primary-color-5);
            transition: .3s;
            color: var(--vkl-text-heading-color-5);
        }
    }
}

.case-button-next-5.case-button-5 {
    margin-right: 65px;
    @media #{$lg,$md,$xs}{
        margin-right: 15px;
    }
}


// case studies 7 

.casebox__wrap7{
    &-thumb{
        position: relative;
        z-index: 1;
        & img{
            height: 470px;
            object-fit: cover;
            border-radius: 16px;
            position: relative;
            z-index: 1;
            width: 100%;
        }
        &::after{
            position: absolute;
            content: "";
            border-radius: 16px;
            background: linear-gradient(172deg, rgba(156, 150, 238, 0.00) 45.26%, rgba(156, 150, 238, 0.92) 93.89%);
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            z-index: 1;
        }
        &-content{
            position: absolute;
            bottom: 46px;
            left: 57px;
            right: 57px;
            text-align: center;
            z-index: 11;
            color: var(--vkl-text-text-white);
            border-bottom: 1px solid #9C97EC;
            & .title{
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height20);
                font-weight: var(--vkl-weight-regular);
                color: var(--vkl-text-text-white);
                transition: .3s;
                padding-bottom: 16px;
            }
        }
    }
    &-hover-content{
        background: var(--vkl-text-primary-color-7);
        border-radius: 16px;
        padding: 28px 20px;
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 24px;
        z-index: 11;
        text-align: center;
        transform: translateY(-60px);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        & .title{
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-regular);
            transition: .3s;
            color: var(--vkl-text-heading-color-7);
            padding-bottom: 16px;
        }
        & .para{
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height26);
            font-weight: var(--vkl-weight-medium);
            transition: .3s;
            color: #444076;
            padding-bottom: 24px;
        }
        & .readmore{
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-regular);
            transition: .3s;
            color: var(--vkl-text-heading-color-7);
            font-family: var(--vkl-family-font1);
            display: inline-block;
            & span{
                display: inline-block;
                transform: rotate(-45deg);
                transition: .3s;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &:hover{
        & .casebox__wrap7-hover-content{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            transition: .3s;
        }
    }
}



// case studies 10 

.case__wrap10{
    &-thumb{
        height: 470px;
        object-fit: cover;
        border-radius: 8px;
        transition: .3s;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &::after{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            background: linear-gradient(178deg, rgba(130, 104, 238, 0.00) 44.81%, #8268EE 89.73%);
            transform: rotate(180deg);
        }
        & img{
            width: 100%;
            height: 470px;
            object-fit: cover;
            transition: .3s;
        }
    }
    &:hover{
        & .case__wrap10-thumb{
            & img{
                transform: scale(1.1);
                transition: .3s;
            }
        }
    }
}


.case-content10{
    position: absolute;
    z-index: 1;
    top: 24px;
    left:24px;
    & .meta{
        & a{
            background: var(--vkl-text-primary-color-3);
            display: inline-block;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-semibold);
            transition: .3s;
            border-radius: 100px;
            padding: 8px 12px;
            margin-bottom: 16px;
            border: 1px solid var(--vkl-text-primary-color-3);
            &:hover{
                border: 1px solid var(--vkl-text-primary-color-3);
                transition: .3s;
                background: transparent;
                color: var(--vkl-text-text-white);
            }
        }
    }
    & .title{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height32);
        font-weight:var(--vkl-weight-regular);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-primary-color-3);
            transition: .3s;
        }
    }
}

// case style 4 

.case__wrap4{
    height: 434px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    transition: .3s;
    &-thumb{
        & img{
            width: 100%;
            height: 434px;
            transition: .3s;
            object-fit: cover;
        }
    }
}


.case__wrap4:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    background: linear-gradient(181deg, rgba(54, 61, 43, 0.00) 21.36%, #363D2B 110.4%);
    transition: .3s;
}


.case__wrap4-content{
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
    transform: translateY(250px);
    transition: .3s;
    z-index: 1;
    & .title{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-regular);
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid var(--vkl-text-text-white);
    }
}

.case__wrap4-labelbox{
    display: flex;
    & .label1{
        margin-right: 30px;
        & .label-name{
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-white);
            padding-bottom: 16px;
        }
        & .ctitle{
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-regular);
        }
    }
}


.case-arrow{
    position: absolute;
    right: 0;
    bottom: 134px;
    & a{
        background: var(--vkl-bg-bg-27);
        height: 56px;
        width: 56px;
        line-height: 56px;
        text-align: center;
        border-radius: 50px;
        display: inline-block;
        transform: rotate(-45deg);
        border: 1px solid var(--vkl-bg-bg-27);
        transition: .3s;
        &:hover{
            border: 1px solid var(--vkl-bg-bg-27);
            color: var(--vkl-bg-bg-27);
            transition: .3s;
            transform: rotate(0);
            background: transparent;
        }
    }
}


.case__wrap4:hover{
    &::after{
        height: 100%;
        transition: .3s;
    }
    & .case__wrap4-content{
        transform: translateY(0px);
        transition: .3s;
    }
}



